[project]
	description = A test-driven approach to assessing JS skills
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan (JuanManuelRodriguez)
[access "refs/for/refs/*"]
	read = group user/Juan (JuanManuelRodriguez)
	push = group user/Juan (JuanManuelRodriguez)
	label-Code-Review = -2..+2 group user/Juan (JuanManuelRodriguez)
	label-Verified = -1..+1 group user/Juan (JuanManuelRodriguez)
	rebase = group user/Juan (JuanManuelRodriguez)
	removeReviewer = group user/Juan (JuanManuelRodriguez)
	submit = group user/Juan (JuanManuelRodriguez)
[access "refs/heads/*"]
	read = group user/Juan (JuanManuelRodriguez)
	create = group user/Juan (JuanManuelRodriguez)
	push = +force group user/Juan (JuanManuelRodriguez)
	pushMerge = group user/Juan (JuanManuelRodriguez)
[access "refs/tags/*"]
	push = group user/Juan (JuanManuelRodriguez)
	push = +force group user/Juan (JuanManuelRodriguez)
